services:
  db:
    image: postgres:15-alpine
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ege_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: