[project]
name = "ege-api"
version = "0.1.0"
dependencies = [
    "fastapi",
    "uvicorn",
    "tortoise-orm",
    "aerich",
    "asyncpg",
    "pydantic-settings",
    "ege-shared",
]

[tool.uv.sources]
ege-shared = { workspace = true }

